.container{'ng-controller' => 'PPController', 'ng-init' => "init(#{@category.to_json},'#{@category.name.parameterize}', true)"}
  .row.col-md-12
    %h1
      - if @category.parent
        %a{href:"/index/#{@category.parent.name.parameterize}"}
          %i.fa.fa-level-up{style:'font-size:0.5em'}
      = @category.name
  .row.col-md-12
    %p
      = markdown(@category.description)
  - if @category.sub_categories.present?
    .row.col-md-12
      %h3
        Sub Categories
    .row.col-md-12
      .row
        - @category.sub_categories.each do |category|
          .col-md-3
            %a{href:"#{@category.name.parameterize}/#{category.name.parameterize}"}
              = category.name

  - if @items.present?

    .row
      = render partial:'home/section_grid', locals: {div_id:@category.name.parameterize, ng_controller:'PPController', category:@category}

    .row.col-md-12
      %h3
        Popularity Over Time

    .row
      = render partial:'home/section_chart', locals: {div_id:@category.name.parameterize, ng_controller:'PPController', category:@category}
