.container
  .row.col-md-12
    %h1
      - if @category.parent
        %a{href:"/index/#{@category.parent.name.parameterize}"}
          %i.fa.fa-level-up{style:'font-size:0.5em'}
      = @category.name
  .row.col-md-12
    %p
      = markdown(@category.description)
  - if @category.sub_categories.present?
    .row.col-md-12
      %h3
        Sub Categories
    .row.col-md-12
      .row
        - @category.sub_categories.each do |category|
          .col-md-3
            %a{href:"#{@category.name.parameterize}/#{category.name.parameterize}"}
              = category.name

  - if @items.present?

    .row.col-md-12
      %h3
        Products
    .row.col-md-12
      %table.table.table-bordered.table-hover.qapp-item
        %tr
          %th Name
          %th{style:'width:2em'}
            Rank
          %th{style:'width:2em'}
            Trend
          %th{style:'width:2em'}
            Actions
          %th Platform(s)
          %th License(s)
        - @items.each do |item|
          %tr
            %td.text-left
              = item[:name]
            %td.text-left
              = item[:rank]

            %td.trend{class:"trend#{item[:trend]}", style:'position:relative'}
              %i.fa.fa-2x
              %div{style:'position:absolute; bottom:0px; right:0px; width:30%; height:30%;font-size:60%; text-align:center; vertical-align:bottom; opacity:0.7;'}
                = item[:trend]

            %td.text-left
              - if item[:website].present?
                %a{href:"#{item[:website]}", target:'_blank'}
                  %i.fa.fa-external-link
            %td.text-left
              = item[:platforms].map{|p| p[:text]}.join(', ') if item[:platforms].present?
            %td.text-left
              = item[:licenses].map{|p| p[:text]}.join(', ') if item[:licenses].present?

    .row.col-md-12
      %h3
        Popularity Over Time

    .row.col-md-12
      = line_chart show_popularity_category_path(@category), chart_options()
