%section{id:"#{div_id}"}
  .container{'ng-controller' => 'PPController', 'ng-init' => "init(#{root.to_json}, #{category_1.to_json}, #{category_2.to_json}, #{category_3.to_json}, #{category_1.to_json}, '#{div_id}')"}
    .section-heading.scrollpoint.sp-effect3.active.animated.fadeInDown
      %h1
        Explore
        &
        Search
      %div{style:'height:2em'}
      .row
        .col-md-12
          .btn-group.btn-group-justified
            %a.btn.btn-primary{href:'#dynamic_explorer', onclick:'QAPP.go1()'}
              {{category_1.name}}
            %a.btn.btn-primary{href:'#dynamic_explorer', onclick:'QAPP.go2()'}
              {{category_2.name}}
            %a.btn.btn-primary{href:'#dynamic_explorer', onclick:'QAPP.go3()'}
              {{category_3.name}}
            %a.btn.btn-primary{href:'#dynamic_explorer', onclick:'QAPP.goSearch()'}
              Search
          .tab-content
            .tab-panel{role:'tabpanel', 'ng-show' => 'tabExploreVisible'}
              .row
                .col-md-12
                  %ol.breadcrumb.text-left

                    %li{'ng-repeat' => 'parent in visibleParents'}
                      %button.btn.btn-link{'ng-click' => 'seeChildren(parent)'}
                        {{parent.name}}
                    %div
                      %span{'ng-show' => 'hasDescription'}
                        %a.btn-link{href:'', rel:'nofollow', 'ng-click' => 'toggleShowDescription()', 'ng-hide' => 'showDescription'}
                          %i.fa.fa-plus-circle.fa-2x.swing
                        %a{href:'', rel:'nofollow', 'ng-click' => 'toggleShowDescription()', 'ng-show' => 'showDescription'}
                          %i.fa.fa-minus-circle.fa-2x.swing

                      %a.btn-link{'ng-href' => '/index/{{current_parent.action()}}', style:'margin-left:0.5em', target:'_blank'}
                        %i.fa.fa-folder-open.fa-2x.swing

                      %button.btn-link{'ng-click' => 'setShowChart(false)','ng-show' => 'hasItems'}
                        %i.fa.fa-list.fa-2x

                      %button.btn-link{'ng-click' => 'setShowChart(true)','ng-show' => 'hasItems'}
                        %i.fa.fa-line-chart.fa-2x

                      %div{'ng-show' => 'showDescription'}
                        %q-markdown{data:'current_parent.description'}

              .row.qapp-category{'ng-show' => 'hasCategories'}
                .col-sm-4{'ng-repeat' => 'category in categories'}
                  %button.btn.btn-link{'ng-click' => 'seeChildren(category)'}
                    {{category.name}}

              .row{'ng-show' => 'hasItems && !showChart'}
                = render partial:'home/section_grid', locals: {div_id:"#{div_id}"}

              .row{'ng-show' => 'hasItems && showChart'}
                = render partial:'home/section_chart', locals: {div_id:"#{div_id}"}

            .tab-panel{role:'tabpanel', 'ng-hide' => 'tabExploreVisible'}
              .row
                .col-md-12
                  %ol.breadcrumb.text-left
                    %li
                      %span.btn.btn-link
                        Search
                    .input-group
                      %input.form-control{id:'search_input', type:'text', 'ng-model' => 'searchText', }
                      %span.input-group-addon{'ng-click' => 'search()'}
                        %i.fa.fa-search

              .row{'ng-show' => 'hasResults'}
                = render partial:'home/search_grid', locals: {div_id:"#{div_id}"}



