!!!
%html{'data-ng-app' => "ngQApp"}
  %head
    %title Elastic Geeks
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}

    = stylesheet_link_tag 'application', {:media => 'all', 'data-turbolinks-track' => true}
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries

    = csrf_meta_tag
    = favicon_link_tag "favicon.ico"
    -#= render 'shared/google_analytics' if Rails.env == 'production'

  %body
    %header
      = render :partial => 'layouts/simple_menu'
      = yield :header

    %div{style:'margin-top:100px'}

    = yield

    = yield :bottom

  = yield :below_body

  = javascript_include_tag 'application_background'
  = javascript_include_tag 'application'
  = javascript_include_tag 'angular_application'
