!!!
%html{'data-ng-app' => "ngQApp"}
  %head
    %title
      = @title || 'Elastic Geeks - Software Technologies Explained'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{name:"description", content:"#{@meta_description || 'Elastic Geeks is the organized source of information for Software Developers, IT Professionals and Decision Makers.'}"}

    = stylesheet_link_tag 'application', {:media => 'all', 'data-turbolinks-track' => true}
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries

    = csrf_meta_tag
    = favicon_link_tag "favicon.png"

    = javascript_include_tag 'application_background'
    = javascript_include_tag 'application'
    = javascript_include_tag 'angular_application'
    = javascript_include_tag "//www.google.com/jsapi", "chartkick"

    -#= render 'shared/google_analytics' if Rails.env == 'production'
  %body
    %header
      = render :partial => 'layouts/simple_menu'
      = yield :header

    %div{style:'margin-top:50px'}

    %article
      = yield

    = yield :bottom

  = yield :below_body
